.custom-select {
  width: 100%;
}
.select-input {
  padding: 10px 10px 10px 10px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  outline: none;
  color: #333;
  border-radius: 8px;
}

option {
  border-color: #e53935;
}
