.form-section {
  display: flex;
  flex-direction: column;
  gap: 1em;
  border-style: solid;
  border-width: 1px;
  border-color: var(--outline-color);
  border-radius: 0.4em;
  box-shadow: 0px 0px 5px 1px var(--outline-shadow-color);
  padding: 2em;
}

.title {
  font-size: 2rem;
  padding-bottom: 1.2rem;
}

.error-display {
  color: var(--error-color);
  font-size: 0.9em;
  border-radius: 0.5em;
  padding: 0.3em;
}

.line {
  border: 0;
  width: 100%;
  height: 1px;
  background-color: var(--outline-color);
}

.text {
  text-align: center;
}

.change-mode-button {
  --color: var(--button-secondary-color);
  --border-color: var(--button-secondary-border-color);
  --background-color: var(--button-secondary-background-color);
  --background-color_hover: var(--button-secondary-background-color_hover);
}
