<div>
  <div class="title">{{ 'auth.signUp' | translate }}</div>
  <form class="form-section" [formGroup]="registrationForm" (ngSubmit)="onSubmitForm()">
    <div>
      <div>
        <rp-text-input
          inputId="username"
          [placeholder]="'auth.typeName' | translate"
          [label]="'auth.name' | translate"
          formControlName="username"
        ></rp-text-input>
        <rp-validation-error
          [class.hidden]="!isSubmitted && !registrationForm.controls.username.touched"
          [errors]="registrationForm.controls.username.errors"
        ></rp-validation-error>
      </div>
      <div>
        <rp-text-input
          inputId="emailRegistration"
          [placeholder]="'auth.typeEmail' | translate"
          [label]="'auth.email' | translate"
          type="email"
          formControlName="email"
          autocomplete="email"
        ></rp-text-input>
        <rp-validation-error
          [class.hidden]="!isSubmitted && !registrationForm.controls.email.touched"
          [errors]="registrationForm.controls.email.errors"
        ></rp-validation-error>
      </div>
      <div>
        <rp-text-input
          inputId="emailConfirm"
          [placeholder]="'auth.typeEmailConfirm' | translate"
          [label]="'auth.emailConfirm' | translate"
          type="email"
          formControlName="emailConfirm"
        ></rp-text-input>
        <rp-validation-error
          [class.hidden]="!isSubmitted && !registrationForm.controls.emailConfirm.touched"
          [errors]="registrationForm.controls.emailConfirm.errors"
        ></rp-validation-error>
      </div>
      <div>
        <rp-text-input
          inputId="passwordRegistration"
          [placeholder]="'auth.typePassword' | translate"
          [label]="'auth.password' | translate"
          type="password"
          formControlName="password"
        ></rp-text-input>
        <rp-validation-error
          [class.hidden]="!isSubmitted && !registrationForm.controls.password.touched"
          [errors]="registrationForm.controls.password.errors"
        ></rp-validation-error>
      </div>
      <div>
        <rp-text-input
          inputId="passwordConfirm"
          [placeholder]="'auth.typePasswordConfirm' | translate"
          [label]="'auth.passwordConfirm' | translate"
          type="password"
          formControlName="passwordConfirm"
        ></rp-text-input>
        <rp-validation-error
          [class.hidden]="!isSubmitted && !registrationForm.controls.passwordConfirm.touched"
          [errors]="registrationForm.controls.passwordConfirm.errors"
        ></rp-validation-error>
      </div>
    </div>

    @if(serverErrors().length > 0) {
    <div class="error-display">
      @for(error of serverErrors(); track $index) {
      <div>
        @if (error.param) { @for (param of error.param | keyvalue; track param.key) {
        {{ error.key | translate : error.param }}
        } }@else {
        {{ error.key | translate }}
        }
      </div>
      }
    </div>
    }

    <rp-button type="submit" id="sign-up">{{ 'auth.signUp' | translate }}</rp-button>
    <hr class="line" />
    <div class="text">{{ 'auth.or' | translate }}</div>
    <rp-button (click)="onClickMode()" class="change-mode-button" id="to-sign-in">{{
      'auth.signIn' | translate
    }}</rp-button>
  </form>
</div>
