.dropzone {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1.5em;

  border: 3px dashed var(--dropzone-border-color);
  background-color: var(--card-primary-color);
  border-radius: var(--uploader-border-radius, 12px);
  transition: border-color 0.2s, background-color 0.2s;
  cursor: pointer;

  &.hovering {
    border-color: var(--button-primary-background-color_hover);
    background-color: var(--dropzone-hover-color);
  }
}

.dropzone-content {
  color: var(--dropzone-text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.dropzone-content svg {
  height: 4em;
  stroke: var(--dropzone-svg-color);
}

.dropzone:hover {
  border-color: var(--button-primary-background-color_hover);
  background-color: var(--dropzone-hover-color);
}
.file-input {
  display: none;
}
