.home-component {
  padding-bottom: 2rem;
  margin-left: 15%;
  margin-right: 15%;
}

.home-image {
  position: relative;

  display: flex;
  justify-content: space-evenly;
  margin-bottom: 3rem;
  width: 100%;
  height: 100%;

  img {
    width: 100%;
  }
}

.home-text {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.094);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  font-size: 4rem;
  filter: drop-shadow(2px 2px 2px var(--outline-dark-shadow-color));
}

.card-holder {
  display: flex;
  justify-content: space-evenly;
  gap: 3rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: var(--card-primary-color);
  border-radius: 10px;
  padding: 1.5rem;
  width: 100%;
  cursor: pointer;
  transition: all 0.6s ease;
}

.card:hover {
  transform: translateY(-0.3rem);
  background-color: var(--card-secondary-color);
}

.card-title {
  font-size: 1.2rem;
}

.card-text {
  font-size: 0.9rem;
  text-align: center;
}
