.background {
  background-color: var(--bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  background-color: var(--card-primary-color);
  width: 100%;
  max-width: 65rem;
  position: relative;
  overflow: hidden;
  padding: 2em;
}

.forms-container {
  display: flex;
  justify-content: space-around;

  width: 100%;
  height: 100%;
}

.form-item {
  flex: 0 0 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  z-index: 100;
  transition: transform 0.6s ease-in-out;
}

.overlay {
  width: 100%;
  height: 100%;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container.login-mode .overlay-container {
  transform: translateX(100%);
}

.container.registration-mode .overlay-container {
  transform: translateX(0);
}

.login-form,
.registration-form {
  transition: opacity 0.3s ease;
  z-index: 1;
}
