.background {
  background-color: var(--bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  background-color: var(--card-primary-color);
  display: flex;
  max-width: 60rem;
  width: 100%;
  height: 100%;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 3em;
  width: 100%;
}
