.canvas-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.container {
  width: 100%;
}

.nav {
  background-color: var(--nav-background-color);
  padding: 0.75em;
}

.nav-title {
  width: 100%;
  font-weight: 600;
  vertical-align: middle;
  text-align: center;
}

.nav-back {
  position: absolute;
}

.form-section {
  position: absolute;
  width: 320px;
  padding: 1em;
}
