.canvas-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.container {
  width: 100%;
}

.nav {
  background-color: var(--primary-color);
  padding: 0.75em;
}
.nav-title {
  width: 100%;
  font-weight: bold;
  vertical-align: middle;
  text-align: center;
}
.nav-back {
  position: absolute;
}
.form-section {
  position: absolute;
  width: 320px;
  border-radius: 20px;
}
