.upload-container {
  overflow: hidden;
  height: 100vh;
}

.navbar {
  position: sticky;
  top: 0;
  background-color: var(--primary-color);
  border-bottom: solid 1px var(--nav-background-color);
  padding: 0.75em;
  z-index: 100;
}

.title-nav {
  width: 100%;
  font-weight: 600;
  vertical-align: middle;
  text-align: center;
}

.bt-back {
  position: absolute;
  color: #000;
}

.form {
  position: relative;
  width: 300px;
  height: 100%;
  border-right: solid 1px var(--outline-color);
  background-color: white;
  overflow: auto;
}
