.thumbnail {
  position: relative;
  width: inherit;
  aspect-ratio: 1 / 1;
}

.image {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  object-fit: cover;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.thumbnail:hover .image {
  transform: scale(1.02);
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
}

.controls {
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 0;
  right: 0;
  cursor: pointer;

  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
.button {
  padding: 0.2em;
  margin: 0.2em;
}

.add {
  color: var(--icon-hearth-color);
}

.trash {
  color: var(--icon-trash-color);
}

.thumbnail:hover .controls {
  opacity: 1;
  visibility: visible;
}
