.thumbnail-container {
  position: relative;
  width: inherit;
  aspect-ratio: 1 / 1;
}

.furniture-thumbnail {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  object-fit: cover;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.thumbnail-container:hover .furniture-thumbnail {
  transform: scale(1.02);
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
}

.thumbnail-action-button {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 8px 12px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.thumbnail-container:hover .thumbnail-action-button {
  opacity: 1;
  visibility: visible;
}
