.furniture-form {
  padding: 1em;
  background-color: var(--bg-color);
}
.title {
  font-weight: bold;
  font-size: 1.5em;
  color: var(--title-color);
}

.sub-title {
  font-weight: bold;
  font-size: 1.02em;
  padding: 0.5em 0;
  color: var(--title-color);
}

.text-inputs {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.metric-display {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.metric-item {
  width: 100%;
  vertical-align: middle;
}

.button-section {
  display: flex;
  justify-content: space-evenly;
  gap: 50px;
  padding: 2em 0;
}

.submit-button {
  width: 100%;
}

.cancel-button {
  width: 100%;
  --color: var(--button-secondary-color);
  --border-color: var(--button-secondary-border-color);
  --background-color: var(--button-secondary-background-color);
  --background-color_hover: var(--button-secondary-background-color_hover);
}
