.furniture-form {
  display: flex;
  flex-direction: column;
  padding: 12px;
  padding-bottom: 40px;
  overflow: auto;
  gap: 5px;
}

.title {
  font-weight: bold;
  font-size: 1.3rem;
  padding-bottom: 20px;
  color: var(--title-color);
}

.sub-title {
  font-size: 1.1rem;
  color: var(--title-color);
}

.text-inputs {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.metric-display {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.metric-item {
  width: 100%;
  vertical-align: middle;
}

.button-section {
  display: flex;
  justify-content: space-evenly;
  gap: 50px;
  padding: 2em 0;
}

.submit-button {
  width: 100%;
}

.cancel-button {
  width: 100%;
  --color: var(--button-secondary-color);
  --border-color: var(--button-secondary-border-color);
  --background-color: var(--button-secondary-background-color);
  --background-color_hover: var(--button-secondary-background-color_hover);
}

.line {
  border: 0;
  width: 100%;
  height: 1px;
  background-color: var(--outline-color);
}

.thumbnailCanvas {
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
  border-radius: 3px;
  height: 260px;
  width: 260px;
}
