.furniture-form {
  background-color: var(--card-color);
  padding: 1em;
}

.sub-title {
  font-weight: bold;
  font-size: 1.02em;
  padding: 0.5em 0;
  color: var(--title-color);
}

.button-section {
  display: flex;
  justify-content: space-evenly;
  padding: 2em 0;
}

.cancel-button {
  --rp-btn-bg: white;
  --rp-btn-color: #4a4036;
  --rp-btn-bg-hover: #f0e9e2;
  --rp-btn-border: #4a4036;
}

.metric-display {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.metric-item {
  width: 100%;
  vertical-align: middle;
}
