button {
  width: 100%;
  padding: 10px 30px;
  border: none;
  border-radius: 2em;
  font-weight: bold;
  cursor: pointer;

  background-color: var(--background-color, var(--button-primary-background-color));
  color: var(--color, var(--button-primary-color));

  border-style: solid;
  border-width: 1px;
  border-color: var(--border-color, var(--button-primary-border-color));

  transition: background-color 0.2s ease-in-out, transform 0.1s ease;

  &:hover {
    background-color: var(--background-color_hover, var(--button-primary-background-color_hover));
  }

  &:active {
    transform: scale(0.98);
  }
}
