.nav {
  background-color: var(--nav-background-color);
  padding: 0.75em;
}

.nav-title {
  width: 100%;
  font-weight: 600;
  vertical-align: middle;
  text-align: center;
}

.nav-back {
  position: absolute;
}

.blueprint {
  position: fixed;
  width: 100%;
  height: 100%;
}

.blueprintCanvas {
  background-color: var(--blueprint-background-color);
}

.design {
  position: fixed;
  width: 15rem;
  height: 15rem;
  margin: 1rem;
  right: 0;
}

.controls {
  position: relative;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.3em;
  width: 10rem;
}

button {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 2em;
  cursor: pointer;

  background-color: var(--button-primary-background-color);
  color: var(--button-primary-color);

  border: none;
  border-style: solid;
  border-width: 1px;
  border-color: var(--button-primary-border-color);

  transition: background-color 0.2s ease-in-out, transform 0.1s ease;
  &:hover {
    background-color: var(--button-primary-background-color_hover);
  }

  &:active {
    transform: scale(0.98);
  }
}

.icon {
  margin: 0.5em;
}
