.planner {
  overflow: hidden;
  height: 100vh;
}

.navbar {
  background-color: var(--primary-color);
  border-bottom: solid 1px var(--nav-background-color);
  padding: 0.75em;
}

.title-nav {
  width: 100%;
  font-weight: 600;
  vertical-align: middle;
  text-align: center;
}

.bt-back {
  position: absolute;
  color: #000;
}

.blueprint {
  position: fixed;
  width: 100%;
  height: 100%;
}

.blueprintCanvas {
  background-color: var(--blueprint-background-color);
}

.hidden {
  display: none !important;
}

.tool-bar {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 100%;
  padding: 12px;
  gap: 12px;
  background-color: white;
  border-right: solid 1px var(--outline-color);
}

.title-toolbar {
  font-size: 1.3rem;
}

.title-tools {
  font-size: 1.1rem;
  padding: 1rem 0 0 0;
}

.item-selector {
  height: 50vh;
  overflow-y: auto;
  width: fit-content;
  margin-top: 0.75rem;
}

.line {
  border: 0;
  width: 100%;
  height: 1px;
  background-color: var(--outline-color);
}

.tools {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.tools fa-icon {
  transition: color 0.2s ease;
}

.tool-icon:hover {
  color: rgb(165, 190, 190);
}

.active-tool {
  color: rgb(165, 190, 190);
}

.tool-delete:hover {
  color: rgb(190, 154, 166);
}

.active-tool-delete {
  color: rgb(190, 154, 166);
}
