.navbar {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  background-color: var(--primary-color);
  border-bottom: solid 1px var(--nav-background-color);
  padding: 0 20px;
  z-index: 100;
  text-transform: uppercase;
}

.initial {
  display: flex;
  align-items: center;
  gap: 20px;
}

.title {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  transition: color 0.2s;
}

.title:hover {
  color: #676767;
}

.anchors {
  display: flex;
  align-items: center;
  gap: 15px;
}

.anchors a {
  text-decoration: none;
  color: #333;
  padding: 8px 12px;
  border-radius: 5px;
  transition: all 0.2s;
}

.anchors a:hover {
  text-decoration: underline;
  color: #676767;

  // border-bottom: solid 1px black;
  // background-color: #ddd;
}

.anchors button {
  background-color: #00000000;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
  color: var(--text-color);
  transition: all 0.3s;
}

.anchors button:hover {
  text-decoration: underline;
  color: #676767;
}
