.input-container {
  position: relative;
}

.text-input {
  width: 100%;
  background-color: var(--text-input-background-color);
  color: var(--text-color);
  font-size: 16px;

  outline: none;
  border: 1px solid var(--outline-color);
  border-radius: 8px;
  box-sizing: border-box;

  padding: 20px 14px 8px 14px;
  transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.text-input::placeholder {
  opacity: 0;
  font-size: 16px;
  transition: all 0.3s;
  color: var(--text-input-placeholder-color);
}

.text-input:focus::placeholder {
  opacity: 1;
  animation-delay: 0.25s;
}

.label {
  position: absolute;
  top: 17px;
  left: 15px;

  pointer-events: none;
  color: var(--text-input-label-color);

  padding: 0 4px;
  transition: all 0.2s;
  transform-origin: left top;
}

input:disabled {
  background-color: var(--disabled-background-color);
  font-style: italic;
}

.text-input:focus + .label,
.text-input:not(:placeholder-shown) + .label {
  left: 10px;
  color: var(--text-input-label-color);
  font-weight: bold;
  transform: translateY(-11px) scale(0.75);
}
.text-input:focus {
  border-color: var(--outline-color);
  box-shadow: 0 0 5px 1px var(--outline-shadow-color);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--text-input-background-color) inset !important;
  -webkit-text-fill-color: var(--text-color) !important;
}
