.image-section {
  overflow: auto;
  max-height: 80%;
  position: absolute;
  right: 2em;
  top: 4em;
  padding: 0.3em;
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  min-width: 12em;
}

.image-thumbnail {
  width: 12em;
  height: 12em;
}

.title {
  font-weight: bold;
  font-size: 1.02em;
  padding: 0.5em 0;
  color: var(--title-color);
}
