.form-section {
  padding: 2em;
  gap: 1em;
  display: flex;
  flex-direction: column;

  border-style: solid;
  border-width: 1px;
  border-color: var(--outline-color);
  border-radius: 0.4em;
  box-shadow: 0px 0px 5px 1px rgba(207, 206, 202, 1);
}

.title {
  font-size: 2rem;
  padding-bottom: 1.2rem;
}
.or {
  text-align: center;
}
hr {
  border: 0;
  width: 100%;
  background-color: var(--outline-color);
  height: 1px;
}
