.grid-view {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  margin: 1em;
}

.item {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.item:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 12px rgba(199, 242, 239, 0.519);
}

.item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border: solid 1px rgba(81, 81, 81, 0.094);
}

.details {
  font-size: 0.9rem;
  padding-left: 0.4rem;
  margin-top: 0.25em;
  margin-bottom: 0.4em;
  font-weight: 600;
}
