.grid-view {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  margin: 1em;
}

.item {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.item:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 12px rgba(199, 242, 239, 0.519);
}

.item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border: solid 1px rgba(81, 81, 81, 0.094);
}

.details {
  font-size: 0.9rem;
  padding-left: 0.4rem;
  margin-top: 0.25em;
  margin-bottom: 0.4em;
  font-weight: 600;
}
.pagination {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
}

.pagination * {
  padding: 1em;
  text-decoration: none;
  border: solid 1px rgb(188, 188, 188);
  border-radius: 5px;
  transition: color 0.2s;
  color: #000;
}
.current-page {
  background-color: rgb(227, 227, 227);
  color: #c0c0c0;
}

.pagination a:visited {
  text-decoration: none;
}

.pagination a:hover {
  color: #8bb1ff;
}
