version: '3.8'

services:
  nginx:
    image: nginx:stable-alpine
    container_name: dev-proxy
    ports:
      - '80:80'
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    extra_hosts:
      - 'host.docker.internal:host-gateway'
