/* You can add global styles to this file, and also import other style files */
html body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}

:root {
  --bg-color: #f1efe9;

  --card-primary-color: #ffffff;
  --card-secondary-color: #e4dcd2;

  --outline-color: #cfceca;

  --text-color: #333333;
  --title-color: #48392e;

  --primary-color: #cbbca8;
}

.dark-mode {
  --bg-color: #333333;

  --card-primary-color: #a8957c; // or darker

  --outline-color: #cfceca;

  --text-color: #ffffff;
}

.hidden {
  visibility: hidden;
}
